/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
HEADER STYLES
*********************/

.header {

	/*MM: cheat to push nav down when header gets higher for larger screens */
	.top-nav {
		margin-top: 90px;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 50px;
}

	.hentry {
		margin-bottom: 50px;
	}
	
#content.contact {
	margin-top: 230px;

	.hentry {
		margin-bottom: 230px;
	}
}
	
#content.accessibility {
	margin-top: 130px;

	.hentry {
		margin-bottom: 130px;
	}
}

#content.home {
	margin-top: 160px;

	.hentry {
		margin-bottom: 151px;
	}
}

#content.stories {
	margin-top: 110px;

	.hentry {
		margin-bottom: 110px;
	}
}


